<%- include("./partials/head.ejs", { title: "About Us - AScribe Worx" }) %>
<% if (messages && messages.length > 0) { %>
    <% messages.forEach(function(message) { %>
        <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>
<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->

        <!-- About Us Section Starts -->
        <h2 id="about-us" class="text-center mt-5">About Us</h2>
        <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="container col-md-5 text-center d-flex align-items-center justify-content-center">
                <img src="/images/about-us.png" class="img-fluid">
            </div>
            <div class="container col-md-5 mt-5 justify-content align-items-center">
                <p class="mt-3 fs-5">
                    Need to communicate effectively with your audience?
                </p>

                <p class="justify-content mt-3">AScribe Worx is here to help. With the delivery of over 1000 articles
                    and
                    other content that attracted a large audience for our clients. We're a team of computer science
                    graduates with a passion for helping businesses and individuals craft clear, concise, and impactful
                    messages.</p>

                <p class="mt-5">
                    We offer a wide range of services, including:
                <ul>
                    <li>Tech Article Writing</li>
                    <li>Tech email Newsletter Writing</li>
                    <li>Document Translation</li>
                    <li>Logo Design</li>
                    <li>Name Suggestions</li>
                </ul>
                <p class="mt-5">We are committed to delivering high-quality services at affordable rates meeting your
                    needs.
                </p>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!-- About Us Section Ends -->

        <!-- Footer Section Starts -->
        <%- include("./partials/footer.ejs") %>
        <!-- Footer Section Ends -->

        <!-- Script Starts -->
        <%- include("./partials/script.ejs") %>
        <!-- Script Ends -->
</body>

</html>