<%- include("./partials/head.ejs", { title: "About Us - AScribe Worx" }) %>
<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->

        <!-- About Us Section Starts -->
        <%- include("./partials/about.ejs") %>
        <!-- About Us Section Ends -->

        <!-- Footer Section Starts -->
        <%- include("./partials/footer.ejs") %>
        <!-- Footer Section Ends -->

        <!-- Script Starts -->
        <%- include("./partials/script.ejs") %>
        <!-- Script Ends -->
</body>

</html>