<%- include("./partials/head.ejs", { title: "Contact Us - AScribe Worx" }) %>
<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->

    <!-- Contact Us Section Starts -->
    <%- include("./partials/contact.ejs") %>
    <!-- Contact Us Section Ends -->

    <!-- Footer Section Starts -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer Section Ends -->

    <!-- Script Starts -->
    <%- include("./partials/script.ejs") %>
    <!-- Script Ends -->

</body>

</html>