<%- include("./partials/head.ejs", { title: "Our Clients - AScribe Worx" }) %>
<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->

    <!-- Our Clients Section Starts -->
    <%- include("./partials/clients.ejs") %>
    <!-- Our Clients Us Section Ends -->

    <!-- Footer Section Starts -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer Section Ends -->

    <!-- Script Starts -->
    <%- include("./partials/script.ejs") %>
    <!-- Script Ends -->
</body>

</html>