<%- include("./partials/head.ejs", { title: "Our Clients - AScribe Worx" }) %>
<% if (messages && messages.length > 0) { %>
    <% messages.forEach(function(message) { %>
        <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>
<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->

    <!-- Our Clients Section Starts -->
    <h2 id="our-clients" class="text-center mt-5">Our Clients</h2>
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="px-4 py-2 col-md-2">
                    <img src="/images/scaler.png" alt="Our Client 1" class="img-fluid">
                </div>
                <div class="px-4 py-2 col-md-2">
                    <img src="/images/ttspnt.png" alt="Our Client 2" class="img-fluid">
                </div>
                <div class="px-4 py-2 col-md-2">
                    <img src="/images/caffinity.jpg" alt="Our Client 3" class="img-fluid">
                </div>
                <div class="px-4 py-2 col-md-2">
                    <img src="/images/pcra.jpg" alt="Our Client 4" class="img-fluid">
                </div>
                <div class="px-4 py-2 col-md-2">
                    <img src="/images/boardInfinity.png" alt="Our Client 5" class="img-fluid">
                </div>
                <div class="px-4 py-2 col-md-2">
                    <img src="/images/gfg.png" alt="Our Client 6" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- Our Clients Us Section Ends -->

    <!-- Footer Section Starts -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer Section Ends -->

    <!-- Script Starts -->
    <%- include("./partials/script.ejs") %>
    <!-- Script Ends -->
</body>

</html>