<%- include("./partials/head.ejs", { title: "Our Services - AScribe Worx" }) %>
<% if (messages && messages.length > 0) { %>
    <% messages.forEach(function(message) { %>
        <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>
<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->

    <!-- Our Expertise Section Starts -->
    <h2 class="text-center mt-5">Our Expertise</h2>
    <div id="our-expertise" class="row">
        <div class="container col-md-2"></div>
        <div class="container col-md-8">
            <p>AScribe Worx provides an exceptional content across a wide range of technical subjects. Our
                expertise spans highly sought articles, blogs, web content, social media, how-to guides, manuals, and
                documentation. We specialize in Python, C++, Java, JavaScript, Node.js, web development, cloud
                computing, Azure, GCP, and more. Our unwavering commitment to quality ensures our writers undergo
                rigorous training and our content receives meticulous peer review before delivery. This dedication to
                excellence enables us to stand out from the industry as we tend to work on our projects with two eye
                view that is we create our project as service provider and analyze it before delivery as consumer!</p>
        </div>
        <div class="container col-md-2"></div>
    </div>

    <div id="our-expertise-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#our-expertise-carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#our-expertise-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#our-expertise-carousel" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#our-expertise-carousel" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#our-expertise-carousel" data-bs-slide-to="4"></button>
        </div>

        <div class="row">
            <div class="container col-md-2"></div>
            <div class="container col-md-8">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="https://www.fiverr.com/ascribeworx/transform-complex-technical-topics-into-engaging-and-informative-content"
                            target="_blank"><img src="/images/gig-1.png" alt="carousel-1" class="d-block img-fluid"
                                style="width:100%"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.fiverr.com/ascribeworx/transform-complex-technical-topics-into-engaging-and-informative-content"
                            target="_blank"><img src="/images/gig-2.png" alt="carousel-2" class="d-block img-fluid"
                                style="width:100%"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.fiverr.com/ascribeworx/transform-complex-technical-topics-into-engaging-and-informative-content"
                            target="_blank"><img src="/images/gig-3.png" alt="carousel-3" class="d-block img-fluid"
                                style="width:100%"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.fiverr.com/ascribeworx/transform-complex-technical-topics-into-engaging-and-informative-content"
                            target="_blank"><img src="/images/gig-4.png" alt="carousel-4" class="d-block img-fluid"
                                style="width:100%"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.fiverr.com/ascribeworx/transform-complex-technical-topics-into-engaging-and-informative-content"
                            target="_blank"><img src="/images/gig-5.png" alt="carousel-5" class="d-block img-fluid"
                                style="width:100%"></a>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#our-expertise-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-primary"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#our-expertise-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-primary"></span>
                </button>
            </div>
            <div class="container col-md-2"></div>
        </div>
    </div>
    <!-- Our Expertise Section Ends -->

    <!-- Footer Section Starts -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer Section Ends -->

    <!-- Script Starts -->
    <%- include("./partials/script.ejs") %>
    <!-- Script Ends -->
</body>
</html>